aside{
    background-color: #060708;
    flex-shrink: 0;
    width: fit-content;
    border-right: 1px solid var(--border-color);
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 26px 12px ;
    color: white;
}

aside header.side-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
}

aside header.side-menu div.item-container{
    display: flex;
    justify-content: center;
    background-color: var(--background-icon);
    padding: 8px;
    border-radius: 12px;
}

aside header.side-menu div.p-header p.marca{
    font-family: var(--fonte1);
    font-weight: 800;
    font-size: 16px;
}

aside header.side-menu div.p-header p.light{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--text-ligther);
}

aside button.searchbox-nav{
    margin-top: 24px;
    padding: 13px 11px;
    background-color: var(--card-background);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    height: 39px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-ligther);
}

aside button.searchbox-nav i{
    font-size: 16px;
}

aside button.searchbox-nav p.quick-search{
    font-size: 12px;
    font-weight: 600;
    font-family: var(--fonte2);
}

aside button.searchbox-nav p.ctrl{
    font-size: 10px;
    font-family: var(--fonte2);
    background-color: var(--background-color);
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-left: 40px;
}

aside button.searchbox-nav:hover{
    color: white;
    transition: 200ms;
    cursor: pointer;
}


aside nav ul{
    display: flex;
    flex-direction: column;
}