aside{
    background-color: #060708;
    flex-shrink: 0;
    width: fit-content;
    border-right: 1px solid var(--border-color);
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

aside header.side-menu{
    display: flex;
}