@media (max-width: 1199px) and (min-width: 768px) {
    section.direita {
        padding: 24px 24px;
        width: calc(100vw - 80px);
        max-width: none;
    }

    section.direita header.main {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section.direita header.main form.searchbox {
        width: 100%;
        max-width: 700px;
        min-width: 0;
    }

    section.direita header.main div.usuario-utilites-header {
        margin-left: auto;
    }

    section.direita main div.titulo-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    section.direita main div.titulo-container h1 {
        width: 100%;
        font-size: 34px;
    }

    section.direita main div.trending-container div.trending-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 100%;
        gap: 16px;
    }

    section.direita main article.explorar-container div.explorar-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 16px;
        width: 100%;
    }

    section.direita main article.explorar-container div.explorar-list div.card {
        max-width: 100%;
    }

    section.direita main article.explorar-container div.context-explorar {
        width: 100%;
    }
}