:root{
    --background-color: #0A0B0C;
    --text-bold-left: #FFD61D;
    --text-bold-right: #EEAD0C;
    --card-background: #121415;
    --nav-text-color: #CBCED1;
    --text-ligther: #81878C;
    --select-color: #1E1B07;
    --select-border-color: #F7CF00;
    --background-icon: #F9D100;
    --up-color: #00C37A;
    --down-color: #F94044;
    --border-color: #1b1b1b;
}